body{
  padding:1000px;
}
*
{
  background-color: #FFFFF0;
}
.heading
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  text-shadow: 2px 2px 2px lightcoral;
  font-family: bold;
  text-align:center;
  font-size: 40px;

  color: #1E90FF ;
}


.Details
{

  color:#333333 ;

    position: fixed;
    top: 400px; /* Adjust this value to create proper spacing */
    left: 45%;
    color:#555555;
   
   

}
.additem 
{

    position: fixed;
    top: 220px; /* Adjust this value to position the AddItem component below the header */
    left: 0;
    right: 0;
    padding: 20px;
  
  }
  

 


.searchitem


{
  position: fixed;
  top: 170px; /* Adjust this value to position the AddItem component below the header */
  left: 0;
  right: 0;
  padding: 20px;
 
}

input{
  border-style:solid;
  border-width:2px;
color:black;

}
button{
  background-color:#FF5733;
  color:#FFFFFF ;
  margin-left:5px;
}
button:hover{

  background-color:  #E8451E ;
}
  


*
{
  background-color:azure;
}
.delete
{
  margin-left:10px;
}

.default
{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:red;

}